{% extends "./navbar.html" %}
{% block content %}
<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
      <h1 class="display-4">Thank You</h1>
      <p class="text-success">Iron mike will be in touch. 
      </p>  
      
    </div>
  </div>
{% endblock %}