{% extends "./navbar.html" %}
{% block content %}
<div class="container mt-3">
   <h2>Buyer's Detail Form</h2>
   <form method='POST'>
    {% csrf_token %}
      <div class="mb-3 mt-3">
         <label class="required" for="name">Buyer name</label>
         <input type="text" class="form-control" id="email" placeholder="Enter name" name="name" required>
      </div>
      <div class="mb-3">
         <label class="required" for="pwd">Buyer mobile</label>
         <input type="number" class="form-control" id="mobile" placeholder="Enter mobile" name="mobile" required>
      </div>
      {% for message in messages %}
      <div class="alert alert-danger">
            {{ message }}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   
</div>
{% endblock %}