{% extends "./navbar.html" %}
{% block content %}
<div class="container mt-3">
   <h2>Car Detail Form</h2>
   <form method='POST'>
    {% csrf_token %}
      <div class="mb-3 mt-3">
         <label class="required" for="email">Seller name</label>
         <input type="text" class="form-control" id="email" placeholder="Enter name" name="name" required>
      </div>
      <div class="mb-3">
         <label class="required" for="pwd">Seller mobile</label>
         <input type="number" class="form-control" id="mobile" placeholder="Enter mobile" name="mobile" required>
      </div>
      <div class="mb-3">
         <label class="required" for="pwd">Make</label>
         <input type="text" class="form-control" id="mke" placeholder="eg Ford, Holden etc." name="make" required>
      </div>
      <div class="mb-3">
         <label class="required" for="pwd">Model</label>
         <input type="text" class="form-control" id="model" placeholder="eg Falcon, Commodore etc." name="model" required>
      </div>
      <div class="mb-3">
         <label class="required" for="pwd">Year</label>
         <select class="form-select" aria-label="select example" name='year' required>
            <option selected value="">select year</option>
            {% for year in years %}
            <option value={{year}}>{{year}}</option>
            {% endfor %}
         </select>
      </div>
      <div class="mb-3">
         <label class="required" for="pwd">Condition</label>
         <select class="form-select" aria-label="select example" name="condition" required>
            <option selected value="">select Condition</option>
            <option value="poor">Poor</option>
            <option value="fair">Fair</option>
            <option value="good">Good</option>
            <option value="excellent">Excellent</option>
         </select>
      </div>
      <div class="mb-3">
         <label class="required" for="price">Price range</label>
         <input type="range" name="price" id="ageInputId" value="40000" min="1000" max="100000" oninput="ageOutputId.value = ageInputId.value" required>
          $ <output name="ageOutputName" id="ageOutputId">40000</output>
      </div>
      {% for message in messages %}
    
      <div class="alert alert-danger">
            {{ message }}
      </div>

      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   
</div>
{% endblock %}
