{% extends "./navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
    <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Filter .
      </button>


    <div class="row">
        <!-- Button trigger modal -->
        {% if cars|length > 0 %}
        {% for car in cars %}
<div class="card mb-3 me-2 mt-3" style="width: 17rem;">
    <img src="{%static 'images/car.jpeg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{car.name}}</h5>
      <p class="card-text">Description: {{car.make}}, {{car.model}}, {{car.condition}}, {{car.year}}</p>
      <p class="card-text">Price: ${{car.asking_price}}</p>
      {% if car.status == 'Sold' %}
      <h5 class="mt-4 text-danger">Sold<h5>
        {% if user.is_authenticated %}
        <form method='POST' action="{% url 'cars:make_avaialble' pk=car.id%}">
          {% csrf_token %}
        <button class="btn btn-info">Make Car Available </button>
        </form>
        {% endif %}
      
      {% else %}
      <a href="{% url 'cars:buyer_detail_form' pk=car.id %}" class="btn btn-primary">Buy </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
    <h3>No results found for your filter</h3>
  {% endif %}
</div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter Options</h5>
          <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Select an option to filter the result by make or year.</p>
            <form >
                <div class="form-check mb-2">
                <select class="form-select" id="selectmake" aria-label="Default select example">
                  <option selected value="">please select make</option>
                  {% for item in make %} 
                  <option value={{item}}>{{item}}</option>
                  {% endfor %}
                </select>
                </div>
                <div class="form-check">
                <select class="form-select" id="selectyear" aria-label="Default select example">
                  <option selected value="">please select year</option>
                  {% for year in years %} 
                  <option value={{year}}>{{year}}</option>
                  {% endfor %}
                </select>
                </div>
                <span onclick="clearFilter()" class="btn btn-primary mt-3">Clear Filter</span >
                <span onclick="getParameters()" class="btn btn-primary mt-3">Submit</span >
            </form>

        </div>
        
      </div>
    </div>
  </div>

<nav aria-label="Page navigation example">
{% if cars.has_other_pages %}
<ul class="pagination justify-content-center">
  {% if cars.has_previous %}
    <li class="page-item" ><span onclick="getvalues({{ cars.previous_page_number }})" class="page-link" >&laquo;</span></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link" aria-hidden="true">&laquo;</span></li>
  {% endif %}
  {% for i in cars.paginator.page_range %}
    {% if cars.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li class="page-item"><span class="page-link" onclick="getvalues({{ i }})">{{ i }}</span></li>
    {% endif %}
  {% endfor %}
  {% if cars.has_next %}
    <li class="page-item" ><span onclick="getvalues({{ cars.next_page_number }})"  class="page-link">&raquo;</span></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %} 
</nav>

<script>
  function getvalues(pagenumber) {
    const params = new URLSearchParams(window. location. search)
    var url = window.location.origin
    if (params. has('make') && params. has('year')){
      var new_url = url + '/?year='+params. get('year')+ '&make='+ params. get('make')+'&page='+pagenumber
    }else if (params. has('year')){
      var new_url = url + '/?year='+params. get('year')+'&page='+pagenumber
    }else if(params. has('make')){
      var new_url = url + '/?make='+params. get('make')+'&page='+pagenumber
    }else{
      var new_url = url + '/?page=' + pagenumber
    }
    window.location.href = new_url 
  }

  function getParameters() {
    var make = document.getElementById("selectmake");
    var make_value = make.options[make.selectedIndex].value;
    var year = document.getElementById("selectyear");
    var year_value = year.options[year.selectedIndex].value;
    var url = window.location.origin
    const params = new URLSearchParams(window. location. search)

    if (make_value != '' && year_value != ''){
      var new_url = '/?make=' + make_value + '&year=' + year_value
    }else if(make_value){
      var new_url = '/?make=' + make_value
    }else{
      var new_url = '/?year=' + year_value
    }
    if (params.has('page')){
      window.location.href = url + new_url + '&page=' + params.get('page')
    }else{
      window.location.href = url + new_url 
    }
    document.getElementById("btn-close").click()
  
  }
  function clearFilter(){
    var url = window.location.origin
    const params = new URLSearchParams(window. location. search)
    if (params.has('page')){
      window.location.href = url  + '/?page=' + params.get('page')
    }else{
      window.location.href = url
    }
  }
</script>
{% endblock %} 
