{% extends "./navbar.html" %}
{% block content %}
<div class="container mt-3">
    <h2 class="mb-4">Login form</h2>
    <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Login </button>
    </form>
    {% for message in messages %}
    
      <div class="alert alert-danger mt-3">
            {{ message }}
      </div>

      {% endfor %}
  </div>
{% endblock %}



