{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dodge-Brother</title>
<link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href=""></a>
  <a href="{% url 'cars:car_detail_form' %}">List-car</a>
  <div class="login-container">
    {% if user.is_authenticated %}
      <form action="{% url 'user:logout' %}">
        <button type="submit">Logout</button>
      </form>
    {% else %}
      {% if request.path != '/user/login/'%}
      <form action="{% url 'user:login' %}">
        <button type="submit">Login </button>
      </form>
      {% endif %}
    {% endif %}
  </div>
</div>

<div style="padding-left:16px">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

