{% extends "./navbar.html" %}
{% block content %}
<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
      <h1 class="display-4">Thank You</h1>
      <p class="text-success">Form has been submitted successfully. Seller Listing Id : {{ request.session.id }}
      </p>  
    </div>
  </div>
{% endblock %}